<div class="wrapper">
  <div class="new-user">
    <div class="new-user__frame">
      <div class="project-title">▼ユーザー新規登録</div>
        <div class="project-frame">
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

        <div class="field">
        <div class="field-title">
          <%= f.label :name, "名前" %><br />
        </div>
          <%= f.text_field :name, class: :form__string %>
        </div>

        <div class="field">
        <div class="field-title">
          <%= f.label :email, "メールアドレス" %><br />
        </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: :form__string %>
        </div>

        <div class="field">
        <div class="field-title">
          <%= f.label :password, "パスワード（6文字以上）" %>
        </div>
          <%= f.password_field :password, autocomplete: "new-password", class: :form__string %>
        </div>

        <div class="field">
        <div class="field-title">
          <%= f.label :password_confirmation, "パスワード再入力" %>
        </div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: :form__string %>
        </div>
        
        <div class="actions">
          <%= f.submit "新規登録", class: :form__btn  %>
        </div>
      <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

