<div class="side-menu">
  <div class="menu">
    <div class="menu-name">
      <%= link_to "新宿事業所", "/projects?area_id=2" %>
    </div>
  </div>
  <div class="menu">
    <div class="menu-name">
      <%= link_to "横浜事業所", "/projects?area_id=3" %>
    </div>
  </div>
    <div class="menu">
    <div class="menu-name">
      <%= link_to "大宮事業所", "/projects?area_id=4" %>
    </div>
  </div>
    <div class="menu">
    <div class="menu-name">
      <%= link_to "柏事業所", "/projects?area_id=5" %>
    </div>
  </div>
    <div class="menu">
    <div class="menu-name">
      <%= link_to "宇都宮事業所", "/projects?area_id=6" %>
    </div>
  </div>
</div> 
