<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
    <div class="project">

      <h2 class="page-heading">新規依頼投稿画面</h2>

      <%= form_with model: @project, local: true do |f|%>
        <div class="field">
          <%= f.label :category, "依頼種別" %><br />
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box"}) %>
        </div>

        <div class="field">
        <%= f.label :limit, "納期" %><br />
        <%= f.datetime_field :limit %>
        </div>

        <div class="field">
          <%= f.label :area, "担当エリア" %><br />
          <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"select-box"}) %>
        </div>

        <div class="field">
          <%= f.label :detail, "詳細" %><br />
          <%= f.text_area :detail, class: :form__text %>
        </div>

        <div class="field">
          <%= f.label :suppulement, "補足" %><br />
          <%= f.text_area :suppulement, class: :form__text %>
        </div>

        <div class="field">
          <%= f.label :image, "参考画像" %><br />
          <%= f.file_field :image %>
        </div>

        <div class="actions">
          <%= f.submit "保存する", class: :form__btn  %>
        </div>
      <% end %>
    </div>
</div>