<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
    <div class="project">

      <div class="project-title">
        ▼新規依頼投稿画面
      </div>
      
      <div class="project-frame">
         <%= form_with model: @project, local: true do |f|%>
           <div class="field">
             <div class="field-title">
              <%= f.label :category, "▼依頼種別　※必須" %>
             </div>
             <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box"}) %>
           </div>

           <div class="field">
            <div class="field-title">
              <%= f.label :limit, "▼納期　※必須" %>
            </div>
              <%= f.datetime_field :limit, class: "select-box" %>
           </div>

            <div class="field">
            <div class="field-title">
             <%= f.label :area, "▼担当エリア　※必須" %>
            </div>
             <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"select-box"}) %>
            </div>

           <div class="field">
           <div class="field-title">
             <%= f.label :detail, "▼詳細　※必須" %>
           </div>
             <%= f.text_area :detail, class: :form__text %>
            </div>

            <div class="field">
            <div class="field-title">
              <%= f.label :suppulement, "▼補足　：任意" %>
            </div>
              <%= f.text_area :suppulement, class: :form__text %>
            </div>

           <div class="field">
           <div class="field-title">
             <%= f.label :image, "▼参考画像　：任意" %>
           </div>
              <%= f.file_field :image %>
           </div>

            <div class="actions">
              <%= f.submit "保存する", class: :form__btn  %>
           </div>
         <% end %>
      </div>
    </div>
</div>