<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
    <div class="project">
      <div class="project-title">
        <div class="project-title__menu">
          ▼案件依頼詳細
        </div>
           <% if current_user.id == @project.user_id %>
              <div class="project__manage">
               <%= link_to "編集する", edit_project_path(@project.id), class: :project__btn %>
               <%= link_to "削除する", project_path(@project.id), method: :delete, class: :project__btn %>
             </div>
           <% end %>
      </div>
      <div class="project-section">
        <div class="project-left">
          タイトル：
        </div>
        <div class="project-right">
           <%= @project.category.name %>
        </div>
      </div>
      <div class="project-section">
        <div class="project-left">
          納期：
        </div>
        <div class="project-right">
          <%= @project.limit.strftime("%Y年%m月%d日 %H時%M分") %>
        </div>
      </div>

      <div class="project-section">
        <div class="project-left">
          担当エリア：
        </div>
        <div class="project-right">
          <%= @project.area.name %>
        </div>
      </div>

      <div class="project-section">
        <div class="project-left">
          詳細：
        </div>
        <div class="project-right">
          <%= @project.detail %>
        </div>
      </div>

      <div class="project-section">
        <div class="project-left">
          補足：
        </div>
        <div class="project-right">
          <%= @project.suppulement %>
        </div>
      </div>

      <div class="project-image">
      <%= image_tag @project.image, class:"item-box-img" if @project.image.attached? %>
      </div>
      
        <%# 投稿に紐づくコメントを一覧する処理を記述する %>
        <div class="comments_post__box">
            <% @comments.each do |comment| %>
            <div class="comments_list">
               <%= comment.user.name %>：<%= comment.reply %>
            </div>
            <% end %>
        </div>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
    <div class="container">
      <%= form_with(model: [@project, @comment], local: true) do |form| %>
        <%= form.text_area :reply, class: :comment__form, placeholder: "コメントする", rows: "2" %>
        <div class="comment-actions">
        <%= form.submit "送信", class: :form__btn %>
        </div>
      <% end %>
    </div>
  </div>
</div>