<!DOCTYPE html>
<html>
  <head>
    <title>Assistapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!-- HTMLコード -->
    <!-- ヘッダー -->
    <header class="header">
      <!-- ヘッダーロゴ -->
      <h1>AssistApp</h1>
      <!-- ナビゲーションメニュー -->
      <nav class="nav">
        <ul class="nav_menu">
        <% if user_signed_in? %>
          <li><%= link_to current_user.name, "#", class: "nav_menu_item" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav_menu_item" %></li>
          <li><%= link_to '依頼を投稿する', destroy_user_session_path, method: :delete, class: "nav_menu_item" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "nav_menu_item" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "nav_menu_item" %></li>
        <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
       <footer class="footer">
      <p>
        Copyright AssistApp 2023.
      </p>
       </footer>
</html>
